export SOME="THING"

export QUARKUS_DATASOURCE_DEVSERVICES_USERNAME="builder"
export QUARKUS_DATASOURCE_DEVSERVICES_PASSWORD="tjsgdvkljhdskflghslkdfhjglksdfhg"
export QUARKUS_DATASOURCE_DEVSERVICES_PORT="5432"
export QUARKUS_DATASOURCE_DEVSERVICES_DB_NAME="pizzadb"

# psql command to connect to this database, including password
# PGPASSWORD="tjsgdvkljhdskflghslkdfhjglksdfhg" psql -h localhost -U builder -d pizzadb -p 5432